<h1>Show All Polls</h1>
<h1>Welcome</h1>


<% if logged_in? %>
  <h1>You are ready to VOTE, <%= current_user ? current_user.username : "" %>!!!</h1>
  <%else %> 
    <h1>You need to Sign in to VOTE.</h1>
    <%# <%= button_to "Login", '/login', method: :get %>
    <%# <%= button_to "Sign Up", '/users/new', method: :get %>
<%end%>




<%= react_component 'polls/AllPolls', { polls: @polls } %>